body {
    background-image: url('../assets/pokemon-bg.jpg');

}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 13px 1px rgba(0,0,0,0.64); 
    box-shadow: 5px 6px 13px 1px rgba(0,0,0,0.64);
    padding: 15px;
}

.card-image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}